@import '../../sass/app-common';

.pet-container {
  // background-repeat: no-repeat;
  // background-position: right;
  // background-size: $height-pet-w-text;
  // background-image: url('../../assets/animal-bg.png');
  background-color: $icy-grape;
  animation: float-right $time-floating 1 forwards linear;
  position: absolute;
  height: $height-pet-w-text;
  margin: 1rem;
  width: $height-pet;

  .pet-description {
    display: block;
    color: $dark;
    padding: .35rem;
    text-align: center;

    div {
      display: block;
      margin-top: .2rem;

      span {
        background-color: $electric-lilac;
        border-radius: 25%;
        color: #fff;
        padding: .2rem .5rem;
        min-width: 27px;
      }
    }
  }
}

.pet {
  background-repeat: no-repeat;
  background-position: center;
  background-size: $height-pet;
  // background-color: $lilac;
  // border-radius: 50%;
  display: block;
  height: $height-pet;
  width: $height-pet;

  &.cat {
    background-image: url('../../assets/cat.png');
  }

  &.dog {
    background-image: url('../../assets/dog.png');
  }

  &.bird {
    background-image: url('../../assets/bird.png');
  }


}
