@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'animations';

$color-main-bg: #8d898e;
$height-cat: 100px;
$height-marble: 40px;
$time-floating: 10s;

body {
  background-color: $color-main-bg;
}

.stage {
  background-color: darken($color-main-bg, 5);
  height: 230px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.stage-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: $height-cat;
}

.marble {
  animation: float-right $time-floating 1 forwards linear;
  background-color: #efebe6;
  border-radius: 50%;
  display: block;
  height: $height-marble;
  position: absolute;
  width: $height-marble;
}

.cat {
  // border: dotted 1px darken($color-main-bg, 10);
  animation: float-right $time-floating 1 forwards linear;
  background: no-repeat center/$height-cat url('assets/rxjs-cat.png');
  display: block;
  height: $height-cat;
  position: absolute;
  width: $height-cat;
}
