@import 'bootstrap-custom';

// FIXME: choose only partials I'm using
@import 'node_modules/bootstrap/scss/bootstrap';

// bootstrap - required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// bootstrap - optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

.bg-theme {
  background-color: $lilac;
}

.navbar {
  z-index: 1;
}

.navbar-brand {
  color: #fff;
}

.sub {
  color: $icy-grape;
}

.main {
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 90px solid $lilac;
    border-left: 90px solid $icy-grape;
    width: 0;
  }
}
