<nav class="navbar bg-theme">
  <div class="container">
    <div class="navbar-brand">RXJS <span class="sub">operator demos</span></div>
  </div>
</nav>
<div class="main">
  <section class="my-4">
    <div class="container">

      <form class="form-inline my-3">

        <div class="form-group mr-3">
          <label for="operator">Operator</label>
          <select class="form-control ml-3" (change)="setActiveDemo($event.target.value)">
            <option *ngFor="let demo of marbleDemos; let i = index" [value]="i">{{demo.title}}</option>
          </select>
        </div>

        <button *ngIf="!isPlaying" (click)="play()" class="btn btn-primary">Play</button>
        <button *ngIf="isPlaying" (click)="stop()" class="btn btn-primary">Stop</button>
      </form>

    </div>
    <hr>
  </section>

  <div class="marble-demos-container">
    <app-marble-demo *ngIf="activeDemo" [demo]="activeDemo"></app-marble-demo>
    <app-marble-demo [demo]="plainDemo" [overlay]="true"></app-marble-demo>
  </div>
</div>



<footer>
  <div class="container mb-5">
    2018 Nicole Oliver
  </div>
</footer>
