<nav class="navbar bg-theme">
  <div class="container">
    <div class="navbar-brand">RXJS <span class="sub">operator demos</span></div>
  </div>
</nav>
<div class="main">

  <section class="my-4">
    <div class="container">

      <app-demo-settings-form
        [isPlaying]="isPlaying"
        (demoChosen)="activeDemo = $event"
        (play)="play()"
        (stop)="reset()">
      </app-demo-settings-form>

    </div>
    <hr>
  </section>

  <div class="demos-container">
    <app-demo *ngIf="activeDemo" [demo]="activeDemo"></app-demo>
    <app-demo [demo]="plainDemo"></app-demo>
  </div>
</div>


<footer>
  <div class="container mb-5">
    Made 2018 / Nicole Oliver
  </div>
</footer>
