// section {
//   border: solid 1px greenyellow;
//   position: absolute;
//   display: block;
//   width: 100%;

//   &.overlay {
//     width: 50%;
//   }
// }

.marble-demo-inner {
  //border: dotted 1px #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1.6rem;
  margin-bottom: 1.5rem;
  min-height: 100px;
}
